:root {
  --theme-color: #34acf1;
  --theme-color-light: #87d0fa;
  --theme-color-dark: #336699;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #fafafa;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 1s cubic-bezier(0.83, 0, 0.17, 1);
}
.col {
  flex: 1;
  flex-direction: column;
}
.col2 {
  flex: 2;
  flex-direction: column;
  display: flex;
}
.row {
  display: flex;
  height: 49%;
}
.row:last-child {
  padding-top: 1vw;
}
.center {
  display: flex;
  height: 100%;
}
.spacer {
  flex: 1;
}
.title {
  height: 100%;
  margin-right: 2vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
}
.card {
  background-color: white;
  flex: 1;
  margin: 1vw 2vw 0 0;
  border-radius: 30px;
  box-shadow: 0 0 50px 0px #00000015;
  padding: 1vw;
  overflow: hidden;
}
#plane {
  width: 20vw;
  float: right;
  fill: url(#grad);
  animation: planeMove 1s cubic-bezier(0.83, 0, 0.17, 1) both;
  animation-delay: 0.3s;
  padding: 1em;
}

@keyframes planeMove {
  0% {
    opacity: 0;
    transform: translate(-50%, 50%) rotate(-40deg);
  }
  30% {
    transform: translate(-35%, 40%) rotate(-20deg);
  }
  100% {
    opacity: 0.8;
    transform: translate(0, 0) rotate(00deg);
  }
}

#grad {
  --color-stop: var(--theme-color-light);
  --color-end: var(--theme-color-dark);
}
#writebut {
  line-height: 10;
  border-radius: 7px;
  background: #326299;
  color: white;
  padding: 1px 5px;
  font-weight: 500;
  font-size: 1.2em;
}
.l {
  height: calc(100% - 3vw);
}
.line {
  border-left: 1px solid grey;
  margin: 0.5vw;
  flex: 1;
}
.period {
  margin-left: 0.5vw;
}
.f1 {
  font-weight: 100;
}
.f3 {
  font-weight: 300;
}
.f4 {
  font-weight: 400;
}
.f5 {
  font-weight: 500;
}
.f7 {
  font-weight: 700;
}
.f9 {
  font-weight: 900;
}
.tc {
  color: var(--theme-color);
}
.tcl {
  color: var(--theme-color-light);
}
.tcd {
  color: var(--theme-color-dark);
}
.faded {
  opacity: 0.7;
}
.subt {
  font-size: 1.1em;
}
.t {
  font-size: 3em;
}
#install {
  display: none;
  font-size: 10px;
}
#installer {
  display: inline-flex;
}
.cardt {
  font-size: 1.5em;
  font-weight: 700;
}
span.cardt.bg {
  position: absolute;
}
paper-graph {
  display: block;
  width: 100%;
}
paper-graph svg {
  height: 100%;
  width: 33%;
  float: left;
}
paper-graph div {
  width: 66%;
  float: right;
  line-height: 3vw;
}
paper-graph .big {
  font-size: 5vw;
}

paper-graph symbol {
  fill: none;
  stroke-width: 5;
  stroke-linecap: "round";
  stroke: black;
}
paper-graph #stackH {
  stroke: var(--theme-color);
}

paper-graph #letterH {
  stroke: var(--theme-color);
}
.align {
  display: flex;
  flex-direction: column;
  height: calc(100% - 3vw);
}
paper-graph .tdfig {
  animation: moveUp 0.7s 0.1s ease-in;
  font-size: 0.9em;
}
paper-graph .ttfig {
  opacity: 0;
  animation: moveUp 0.7s 0.2s ease-in forwards;
  font-size: 0.9em;
}
.tcenter {
  animation: moveUp 0.7s ease-in;
}

@keyframes moveUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.bigdate {
  text-align: center;
  font-size: 9vw;
}
.tcenter {
  margin-top: 2vw;
  text-align: center;
}
.card.date {
  background-image: var(--bg);
  background-repeat: no-repeat;
  animation: fillUp 2s ease-out;
  overflow: hidden;
}
@keyframes fillUp {
  from {
    background-position: 0 30vw;
  }
  to {
    background-position: 0 0;
  }
}
pro-bar #percent {
  position: inherit;
  float: right;
  color: var(--theme-color-dark);
  opacity: 30%;
  font-size: 2em;
}
.card.letter {
  top: 0;
  left: 9vw;
  position: fixed;
  width: 80vw;
  height: calc(100vh - 5em);
  transition: transform 1s cubic-bezier(0.83, 0, 0.17, 1),
    filter 1s cubic-bezier(0.83, 0, 0.17, 1),
    opacity 1s cubic-bezier(0.83, 0, 0.17, 1);
}
.card.addr {
  top: 10vh;
  left: 29vw;
  position: fixed;
  width: 40vw;
  transition: transform 1s cubic-bezier(0.83, 0, 0.17, 1),
    opacity 1s cubic-bezier(0.83, 0, 0.17, 1);
}
.card.letter .header,
.card.addr .header {
  width: calc(100% - 1.3em);
  border-bottom: 1px solid#CACACA;
  padding: 0 0.3em 0.5em.3em;
  margin: 0.3em;
  font-size: 1.5em;
  text-align: center;
}
.card.letter .header .pc.back,
.card.addr .header .pc.back {
  background: #cccccc;
  border-radius: 1000px;
  float: right;
  color: #555555;
  display: block;
  width: 1.5em;
  height: 1.5em;
}
.card.letter .sender {
  display: flex;
  margin-top: 0.22m;
  padding: 0.1em;
  border-radius: 2em;
  transition: all 1s cubic-bezier(0.83, 0, 0.17, 1);
}
.card.letter .sender.highlight {
  box-shadow: -1px 1px 9px 0px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.card.letter .circle {
  background: var(--theme-color-light);
  width: 3.7em;
  height: 3.7em;
  border-radius: 4.5em;
  margin: 0 0.7em 0 0.5em;
}

.card.letter .sender.highlight .circle {
  background: linear-gradient(
    45deg,
    var(--theme-color-light),
    var(--theme-color),
    var(--theme-color-dark),
    var(--theme-color-light)
  );
  background-size: 800% 800%;
  -webkit-animation: gradAni 2s ease both;
  -moz-animation: gradAni 2s ease both;
  animation: gradAni 2s ease both;
}
@keyframes gradAni {
  0% {
    background-position: 0% 50%;
  }
  40% {
    background-position: 100% 50%;
  }
  80% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}
.card.letter .circle {
  background: var(--theme-color-light);
  width: 3.7em;
  height: 3.7em;
  border-radius: 4.5em;
  margin: 0 0.7em 0 0.5em;
}
.card.letter .circle:hover {
  background: var(--theme-color-dark);
  color: grey;
}
.card.letter .circle span {
  font-size: 3em;
  color: white;
  line-height: 1.3em;
  padding-left: 0.125em;
  width: 1.25em;
}
.card.letter .circle span:hover {
  color: grey;
}
.card.letter .circle span:hover::after {
  content: "create";
  position: absolute;
  left: calc(0.3em + 1vw);
  color: white;
}
.card.letter .info {
  flex: 1;
}
.card.letter .info .name {
  font-size: 1.4em;
}
.card.letter .info .name #rel {
  font-size: 0.6em;
  background-color: var(--theme-color-dark);
  border-radius: 0.5em;
  padding: 0.1em 0.4em;
  margin: 0 0.5em;
  color: white;
}
.card.letter .info .addr {
  color: #999999;
}
.card.letter .info .addr #addr1 {
  margin-right: 0.2em;
}
.card.letter .letter {
  padding: 1vw;
}
.card.letter .ltitle input {
  margin-top: 0.5em;
  font-size: 1.7em;
  width: 100%;
  border: 0;
}
.card.letter .ltitle input:focus {
  outline: none;
}
.card.letter .contents textarea {
  font-size: 1.5em;
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: calc(100vh - 13.3em - 1.5vw);
  border: 0;
}
.card.letter .contents textarea:focus {
  outline: none;
}
.card.letter .footer .pc,
.card.addr .footer span {
  background: #bbbbbb;
  color: #555555;
  display: block;
  font-size: 1.5em;
  text-align: center;
  padding: 0.1em 0;
  border-radius: 2em;
  margin: 0 0.5em 0 0.5em;
  font-weight: 500;
}
.card.addr .forms {
  overflow: auto;
  height: 70vh;
}
.card.addr .forms .inp {
  font-size: 1em;
  height: 1.6em;
  padding: 0.5em 0;
}
.card.addr .footer {
  margin-top: 8em;
}
.card.addr .forms .inp.adr {
  height: 8em;
}
.card.addr .forms .inp.adr span {
  height: 7em;
}
.card.addr .forms .inp.adr input {
  margin-bottom: 0.7em;
}

.card.addr .forms span {
  display: block;
  padding-left: 0.5em;
  float: left;
  width: 13%;
  font-size: 1em;
  font-weight: 500;
}
.card.addr .forms .inp input {
  font-size: 1em;
  height: 1.5em;
  padding: 0 0.5em;
  width: calc(88% - 3em);
  border: 0;
  background: #f0f0f0;
  border-radius: 3em;
  transition: background 1s;
}

.card.addr .forms .inp.adr input#postcode {
  width: calc(88% - 7em);
}
.card.addr .forms .inp.adr .but {
  border-radius: 0.6em;
  padding: 0 1em;
  background: #999999;
  color: white;
  font-weight: 500;
}
.card.addr .forms .inp input:focus {
  outline: none;
  filter: brightness(1.035);
}
.card.addr .forms span.caution,
.card.addr .forms span.cautext {
  width: auto;
  display: inline;
  float: none;
  padding: 0;
  font-size: 0.7em;
  font-weight: 500;
}
span.caution {
  margin-left: calc(13% + 1em);
  background: #af1a1a;
  color: white;
  border-radius: 5px;
}
span.cautext {
  color: grey;
}
span.cautext b {
  font-weight: 700;
  color: #af1a1a;
}
.card.addr .forms .inp:last-child input {
  background: #f7b6b6;
}
span.cautext:last-child {
  margin-left: calc(13% + 3.3em);
}
.blur {
  filter: contrast(0.25) brightness(1.5);
  background: inherit;
}
#btnFoldWrap {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: -1px;
  z-index: 1;
}
#wrap {
  display: none;
  height: 60vh;
}
#wrap div {
  border-radius: 30px;
  overflow: unset !important;
}
.clsb {
  transition: display 1s cubic-bezier(0.83, 0, 0.17, 1);
}
.clsd {
  display: none;
}
.but {
  cursor: pointer;
}
.but:hover:not(#pfbut) {
  filter: contrast(1.3);
}
.slide {
  transform: translate(0, 100vh);
  opacity: 0;
}
toast {
  display: flex;
  position: fixed;
  bottom: 7vh;
  width: 100vw;
  transition: transform 1s cubic-bezier(0.83, 0, 0.17, 1);
  font-weight: 600;
  color: #555555;
}
toast.hide {
  transform: translateY(20vh);
}
toast .tospacer {
  flex: 1;
}
toast .content {
  font-size: 1.2em;
  background: #fafafa;
  box-shadow: 2px 2px 7px 0px #999999;
  border-radius: 2em;
  padding: 0.5em 0.7em 0.3em 0.3em;
}
toast #icon {
  background: var(--theme-color);
  color: white;
  border-radius: 1em;
  margin-right: 0.5em;
  padding: 0.2em;
}
toast #messages {
  line-height: 1.6em;
  vertical-align: top;
}
loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #00000030;
  width: 100%;
  height: 100%;
}
.lds-ring {
  display: block;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  /*isibility: hidden;*/
  width: 120px;
  background-color: black;
  opacity: 0.5;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  line-height: initial;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  /*right*/
  top: -5px;
  left: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

@media (max-width: 900px) {
  .slide {
    transform: translate(100vw, 0);
  }
  body {
    font-size: 12px;
  }
  .spacer {
    display: none;
  }
  .center {
    display: block;
  }
  .card {
    margin-left: 3vw;
    margin-bottom: 3vw;
    height: 70vw;
    border-radius: 20px;
    padding: 2vw;
  }
  .col {
    flex: 0;
    margin-bottom: 5vw;
    float: left;
    width: 50vw;
  }
  .col2 .row:first-child {
    height: 78vw;
  }
  .col2 .row:nth-child(2) {
    position: absolute;
    height: 70vw;
    width: 97vw;
    left: 0vw;
    top: calc(150px + 88vw);
  }
  .title {
    margin-top: 10px;
    height: 150px;
    flex-direction: row;
    padding: 5vw;
  }
  .line {
    border: 0;
    padding-top: 10vw;
  }
  .l {
    margin-right: 3vw;
    height: 70vw;
  }
  .row {
    margin-right: 4vw;
    flex-direction: column;
    height: 50vw;
  }
  .period {
    display: none;
  }
  paper-graph svg {
    width: 28% !important;
  }
  paper-graph .tdfig {
    font-size: 4vw;
  }
  paper-graph .ttfig {
    font-size: 4vw;
  }
  .align .spacer {
    display: block !important;
  }
  #plane {
    width: 50vw;
    padding-top: 20vw;
  }
  span.bg {
    padding-top: 15vw;
    padding-left: 3vw;
    font-size: 7vw;
  }
  #writebut {
    line-height: 90vw;
    font-size: 5vw;
    margin-left: 3vw;
  }
  .mbhide {
    display: none;
  }

  paper-graph .big {
    font-size: 10vw !important;
  }
  paper-graph div {
    line-height: 6vw !important;
  }
  .bigdate {
    text-align: center;
    font-size: 20vw;
    line-height: 21vw;
  }
  .tcenter {
    margin-top: 0;
    text-align: center;
  }
  .tcenter #percent {
    line-height: 0;
  }
  .cardt {
    font-size: 4.5vw;
  }
  .card.date {
    line-height: 1;
  }

  .subt {
    font-size: calc(1em + 2vw);
  }

  .t {
    font-size: calc(1.2em + 5vw);
    line-height: calc(1.2em + 1vw);
  }
  .card.letter .pc,
  .card.addr .pc {
    display: none !important;
  }
  .card.letter .mob,
  .card.addr .mob {
    display: inline;
  }
  .card.letter {
    top: 0;
    left: 0;
    border-radius: 0;
    margin: 0;
    position: fixed;
    width: 98vw;
    height: 100vh;
    padding: 1vw;
  }
  .card.letter .header,
  .card.addr .header {
    text-align: left;
    padding: 1em 0.5em;
  }
  .card.letter .back.mob,
  .card.addr .back.mob {
    font-size: 1.5em !important;
    vertical-align: top;
  }
  .card.letter .send {
    float: right;
    font-weight: 700;
    background: var(--theme-color);
    color: white;
    padding: 0.2em 0.7em;
    border-radius: 1em;
    font-size: 0.9em;
  }
  .card.letter .sender {
    padding: 3vw;
    font-size: 1.2em;
  }
  .card.letter .circle span:hover::after {
    left: calc(0.3em + 4vw);
  }
  .card.letter #addr2 {
    display: none;
  }
  .card.letter .letter {
    padding: 1vw 4.5vw;
  }
  .card.letter .footer .mob {
    position: fixed;
    color: white;
    background: var(--theme-color);
    font-size: 3.2em;
    text-align: center;
    line-height: 1.6em;
    width: 1.6em;
    height: 1.6em;
    bottom: 0.5em;
    right: 0.5em;
    border-radius: 6em;
    box-shadow: 2px 2px 7px 0px #999999;
  }
  .card.addr {
    top: 0;
    left: 0;
    border-radius: 0;
    margin: 0;
    position: fixed;
    width: 98vw;
    height: 100vh;
    padding: 1vw;
  }
  .card.addr .forms {
    font-size: 1.5em;
  }
  .card.addr .footer {
    position: fixed;
    bottom: 10px;
    margin-top: 0;
    width: calc(100% - 1em);
  }
  #wrap {
    height: 90vh;
  }
  toast #icon {
    margin-right: 0.4em;
    padding: 0.1em;
  }
  toast #messages {
    line-height: 2em;
  }
}
@media (min-width: 900px) {
  .title {
    width: calc(100px + 20vw);
    height: 100%;
    padding-left: 2vw;
  }
  .center {
    height: 50vw;
    max-height: 90vh;
  }
  .card.letter .pc,
  .card.addr .pc {
    display: inline;
  }
  .card.letter .mob,
  .card.addr .mob {
    display: none !important;
  }
  .card.addr .forms {
    height: 40vh;
  }
}
